{% load static %}
<section
  class="w-100 float-left service-con padding-top padding-bottom position-relative"
  id="service-con"
>
  <div class="container">
    <div class="service-inner-con position-relative">
      <div class="generic-title text-center">
        <h6>My Expertise</h6>
        <h2 class="mb-0">
          Provide Wide Range of<br />
          Digital Services
        </h2>
      </div>
      <div class="service-box wow fadeInUp">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="service-box-item">
              <figure class="mb-0">
                <img
                  src="{% static 'assets/image/service-icon1.png' %}"
                  alt="service-icon"
                  class="img-fluid"
                />
              </figure>
              <div class="service-box-item-content">
                <h4>Ui/Ux Design</h4>
                <p>
                  Dolor repellendus temporibus autem quibusdam officiis debitis
                  rerum neces aibus minima veniam.
                </p>
                <a href="#" data-toggle="modal" data-target="#Ui-Design"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="service-box-item">
              <figure class="mb-0">
                <img
                  src="{% static 'assets/image/service-icon2.png' %}"
                  alt="service-icon"
                  class="img-fluid"
                />
              </figure>
              <div class="service-box-item-content">
                <h4>Web Design</h4>
                <p>
                  Dolor repellendus temporibus autem quibusdam officiis debitis
                  rerum neces aibus minima veniam.
                </p>
                <a href="#" data-toggle="modal" data-target="#web-design"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-0">
          <div class="col-lg-6 col-md-6">
            <div class="service-box-item">
              <figure class="mb-0">
                <img
                  src="{% static 'assets/image/service-icon3.png' %}"
                  alt="service-icon"
                  class="img-fluid"
                />
              </figure>
              <div class="service-box-item-content">
                <h4>Web Development</h4>
                <p>
                  Dolor repellendus temporibus autem quibusdam officiis debitis
                  rerum neces aibus minima veniam.
                </p>
                <a href="#" data-toggle="modal" data-target="#web-development"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="service-box-item mb-0">
              <figure class="mb-0">
                <img
                  src="{% static 'assets/image/service-icon4.png' %}"
                  alt="service-icon"
                  class="img-fluid"
                />
              </figure>
              <div class="service-box-item-content">
                <h4>App Development</h4>
                <p>
                  Dolor repellendus temporibus autem quibusdam officiis debitis
                  rerum neces aibus minima veniam.
                </p>
                <a href="#" data-toggle="modal" data-target="#app-development"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
